<footer class="page-footer" xmlns="http://www.w3.org/1999/html">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Created By Quinn Hisashi</h5>
				<p class="grey-text text-lighten-4">A four hour project to help me create flash cards to revise for my ComSci Masters exams</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<a class="grey-text text-lighten-3" href="https://github.com/HisashiQ/flashcards">
				<h5 class="white-text">Open Source on GitHub</h5>
				<ul>
					<li>
						<i class="fa fa-github-alt fa-3x" aria-hidden="true"></i></br> MIT LICENCE</li>
				</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			A product of procrastination. Made with love by QHK <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
		</div>
	</div>
</footer>